button {
  margin: 0 3px 10px 0;
  padding-left: 2px;
  padding-right: 2px;
  width: 200px;
  height: 25px;
  border-color: #cccccc;

}

button:last-of-type {
  margin: 0;
}

/*p {
  font-family: "Times New Roman", Times, serif;
}

header{
  font-family: "Times New Roman", Times, serif;
}*/

button {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8em;
}

p.borderBelow {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

video {
  height: 232px;
  margin: 0 12px 20px 0;
  vertical-align: top;
  width: calc(20em - 10px);
}

video:last-of-type {
  margin: 0 0 20px 0;
}

video#gumVideo {
  margin: 0 20px 20px 0;
}

@media (max-width: 500px) {
  button {
    font-size: 0.8em;
    width: calc(33% - 5px);
  }
}

@media (max-width: 720px) {
  video {
    height: calc((50vw - 48px) * 3 / 4);
    margin: 0 10px 10px 0;
    width: calc(50vw - 48px);
  }

  video#gumVideo {
    margin: 0 10px 10px 0;
  }
}


label {
	margin: 75px 500px 75px 600px;

}

#recorder_name {
	margin: 1px 500px 75px 600px;
}

#trail_number {
	margin: 1px 500px 75px 600px;

}

#start_trail_btn {
	margin: 1px 500px 75px 600px;

}

#stop_btn {
  margin-left: 1200px;
	color: white;
	background-color: red;
}

#Spatial_btn {
	background-color: #ff9f19;


}

#Sentiment_btn {
	background-color: #ff9f19;
}

#Relational_btn {
	background-color: #ff9f19;
}

#Parts_btn {
	background-color: #ff9f19;
}



