<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Data Collection</title>
    <!-- Bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="{{url_for('static', filename='js/groundedCoding.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  </head>
  <body>

   <div>
   <h3>Overall Camera View</h3>
	<img src="{{ url_for('video_feed') }}">
   </div>

   <div>
      <form id="trail-data" name='trail-data' action='' method=''>
      <h3>Notes</h3>
      <textarea class="" rows="25" cols="25" name="notes"></textarea>
      </form>
   </div>

    <div>
      <h3>Labels</h3>
      <button type="button" class="trail_action_btn"
        onClick="record_trail_action(this)">Love it!</button>
      <button type="button" class="trail_action_btn"
        onClick="record_trail_action(this)">Bad!</button>
      <button type="button" class="trail_action_btn"
        onClick="record_trail_action(this)">What the heck!</button>
    </div> 
    <br>
    <div>
        <button type="button" class="" onClick="stop_trail()">Save Note &nbsp; Video Recording</button>
    </div>
  </body>
</html>
