<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Data Collection</title>
    <!-- Bootstrap-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="{{url_for('static', filename='js/groundedCoding.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/mediarecorder.css')}}">

  </head>
  <body>

   <div id='camera_view'> 
   <h3>Overall Camera View</h3>

   <div>
     <form id='trail-session-data' name='trail-session-data' action=''  method=''>
       <label for='recorder_name'>Your Name</label><input id='recorder_name' type='text' name='recorder_name' placeholder='Samar' value=''>
       <label for='trail_number'>Session Number</label><input id='trail_number'  type='text' name='trail_number' placeholder='42' value=''>  
       <button type='button' class='start_trail' onClick="start_trail()">Start Session</button>
    </form>
   </div>
     
    <video id="gum" autoplay muted playsinline width=400 height=400></video>
    <video id="recorded" autoplay loop playsinline style='display:none'></video>
    <img id='snapshot' src="" width=400 height=400 />
    <canvas style="display:none;" width=400 height=400></canvas>
    
    <div>
      <button id="record" style='display:None'>Start Streaming</button>
      <button id="play" disabled style='display:None'>Play</button> 
      <button id='snapshot-button' onClick='save_snapshot()'>Save Screenshot</button>
      <!-- hide this button until we figure out how to completely disassociate
        it -->
      <button style="display: none;" id="download" disabled>Download</button>
    </div>
   </div>

  <div>
      <form id="trail-data" name='trail-data' action='' method=''>
      <h3>Notes</h3>
      <textarea id='comment' class="" rows="5" cols="5" name="comment"></textarea>
      </form>
      <button type='button' class='trail_comment_button'
        onClick="record_trail_comment(document.getElementById('comment').value)">Record comment</button>
   </div>

    <div>
      <h3>Labels</h3>
      <button type="button" class="trail_action_btn"
        onClick="record_trail_action(this)">Love it!</button>
      <button type="button" class="trail_action_btn"
        onClick="record_trail_action(this)">Bad!</button>
      <button type="button" class="trail_action_btn"
        onClick="record_trail_action(this)">What the heck!</button>
    </div> 
    <br>
    <div>
        <button type="button" class="" onClick="stop_trail()">Stop Trail</button>
    </div>
    <!-- uses the mediarecorder from https://github.com/samdutton/simpl/tree/gh-pages/mediarecorder -->
    <script src="{{url_for('static', filename='js/mediarecorder.js')}}"></script>
  </body>
</html>
