<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      .button1 {width: 100% }
      .zero-margin { margin: 0 !important; padding: 0;}
 /*     table, tr, td{
      	border: 1px solid red;
      }
      div{
      	border: 1px solid blue;
      }*/
    </style>
    <meta charset="UTF-8">
    <title>Data Collection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{url_for('static', filename='js/groundedCoding.js')}}"></script>
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
<script type="text/javascript">
   $(document).ready(function(){
     $("#addlable").click(function(){
         $("ol").append("<button>list item</button>");
     });
 });
</script>
  </head>
  <body>

	<table>

    <div id='Session Information'>
    <h3>Session Information</h3>
    <form id="start_session">
      <tr>
    	 <td>
    	   	<input type="text" name="username" ></input>

    	 </td>
    	 <td>
    	   	<input type="text" name="trialnumber"></input>

    	 </td>
    	 <td>
		     <button id="session-button" onclick="startfun()">Start Session</button>
		  </td>
      </tr>
   </form>
    </div>
    <tr>
      <td>
      	<div>
	      	<h3>Overall Camera View</h3>
          <table>
            <tr>
              <td>
                <img src="{{ url_for('video_feed') }}">
              </td>
              <td>
              </td>
            </tr>
          </table>
		  	<hr>
		  	<h3>Labels</h3>
        <ol>
		     <button type="button" >Label 1</button>
		      <button type="button" >Label 2</button>
		      <button type="button" >Label 3</button>
        </ol>
		      <a href=""id="addlable" style="text-decoration: underline; color: blue">+ Add More</a>
		 </div>
	  </td>
      <td colspan=2>
      	<div>
      		<h3>Notes</h3>
      		<textarea class="" rows="33" cols="110" name="notes"></textarea>
      	</div>
	  </td>
	</tr>
	  <tr>
	  	<td colspan=3>
	  		<button type="button" class="button button1" onClick="stop_trail()" >Save Note & Download video recording</button>
	  	</td>
	  </tr>
    </table>
  </body>
</html>
